@font-face {
    font-family: Furore;
    src: url("../fonts/Furore.otf") format("opentype");
    }
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header, main, footer, section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 0;
    font-size: 43px;
    z-index: 2;
}
h2 {
    color: #fff;
    font-size: 43px;
}
.backline {
    background: url("../img/blackyellowline.gif");
    height: 10px;
    width: 100%;
}
header {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    padding: 25px 0;
}
.wrapper {
    max-width: 1270px;
    width: 100%;
    display: flex;
}
header .wrapper {
    flex-direction: column;
    align-items: center;
}
header .siteLogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
header .siteLogo {
    width: 25%;
}
header nav {
    width: fit-content;
}
header .siteLogo span {
    font-family: Furore;
    font-size: 13px;
    color: red;
}
header .siteLogo img {
    width: 100%;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header nav li {
    list-style-type: none;
}
header nav a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.headerButton {
    height: 40px;
    width: 300px;
    color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff6600), color-stop(1, #ff9000) );
    box-shadow: 0 1px 1px #999;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}
header .mobileMenu {
    display: none;
}
header .headerTopContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 45px;
}
header .headerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .headerMain {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
header .leftInnerMenu {
    position: relative;
}
header .headerMainContent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
header .leftContainer, header .rightContainer {
    gap: 10px;
    width: 100%;
    display: flex;
}
.innerLists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.innerLists ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.innerLists ul li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 13px;
}
.innerLists ul li img {
    width: 8%;
}
.rightInnerMenu {
    width: 50%;
    display: flex;
    align-items: flex-start;
}
.dimage {
    width: 50%;
}
.mainHeaederTitle {
    background-color: #ffff00;
    font-size: 18px;
    font-weight: 800;
}
.price {
    font-family: Furore;
    font-size: 30px;
    background-color: rgb(245, 68, 236);
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.flashing {
    position: absolute;
    width: 40%;
    top: -80px;
    left: 0;
}
.prog, .hit {
    font-family: Furore;
    font-size: 13px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}
.prog {
    background-color: red;
}
.hit {
    background-color: rgb(245, 68, 236);
}
.rightContainer {
    align-items: center;
    justify-content: center;
}
.rightContainerContent {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    gap: 15px;
}
.harrantyimage {
    position: absolute;
    top: -80px;
    right: -40px;
    width: 130px;
}
.rightContainerInputFirst, .rightContainerInputSecond, .rightContainerInputThird {
    width: 100%;
    height: 33px;
    border-radius: 5px;
    padding-left: 15%;
}
.rightContainerInputFirst {
    background: url("../img/inputImage1.png") no-repeat;
    background-color: #fff;
    border: 2px solid green;
}
.rightContainerInputSecond {
    background: url("../img/inputImage2.png") no-repeat;
    background-color: #fff;
    border: 2px solid blue;
}
.rightContainerInputThird {
    background: url("../img/inputImage3.png") no-repeat;
    background-color: #fff;
    border: 2px solid red;
}
.rightContainerContent span {
    color: #fff;
    font-size: 14px;
}
.rightContainerContent button {
    background-image: -webkit-linear-gradient(top, #ffd403, #f89d17);
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    -webkit-border-radius: .7ex;
    border-color: #FFFF00;
    border-bottom: 1px solid #FFFF00;
}
main {
    background-color: #000;
    flex-direction: column;
}
.lazerSection {
    margin-top: 50px;
}
.lazerSection .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.lazerSection .adsLeftColumn {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.lazerSection .adsLeftColumn span {
    color: #fff;
    font-size: 14px;
}
.lazerSection .adsRightColumn {
    width: 30%;    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.lazerSection .lazerAdsContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lazerSection .adsRightColumn img {
    width: 100%;
}
.lazerSection .adsLeftColumn button {
    background-color: #FFFF00;
    background-image: -webkit-linear-gradient(top, #ffd403, #f89d17);
    border-color: #FFFF00;
    border-bottom: 1px solid #FFFF00;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.lazerSection iframe {
    width: 480px;
    height: 360px;
}
.videoContainer {
    width: 520px;
    height: 405px;
    background: url("../img/videobackgroungimage.svg") no-repeat;
    background-size: cover;
    padding: 20px;
}
.lazerSection .adsLeftColumn .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 80%;
}
.rotated {
    margin-top: 150px;
    height: 50px;
    margin-bottom: 150px;
    transform: rotate(5deg);
}
.rotated:nth-of-type(2n+1) {
    transform: rotate(-5deg);
}
.reversed {
    flex-direction: row-reverse !important;
}
.color {
    width: 94px;
    height: 29px;
}
.availableColors {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px dotted yellow;
    padding: 5px;
}
.availableColors span {
    font-family: Furore;
    font-size: 16px;
}
.colors {
    display: flex;
    align-items: center;
    gap: 10px;
}
.color-green {
    background-color: green;
}
.color-red {
    background-color: red;
}
.color-yellow {
    background-color: yellow;
}
.even {
    justify-content: center !important;
}
.gallery {
    margin-top: 50px;
    flex-wrap: wrap;
}
.gallery img {
    width: 144px;
    height: 100px;
    border: 1px solid red;
}
.lazerback {
    margin-top: 50px;
}
.lazerback .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.lazerback span {
    font-size: 18px;
    color: #fff;
}
.lazerSigns {
    margin-top: 50px;
}
.lazerSigns .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.lazerSigns h2 {
    background-color: yellow;
    color: #000;
}
.lazerSigns .lazerSignsContent {
    width: 100%;
    display: flex;
    align-items: center;
}
.lazerSigns .signLeftColumn {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.lazerSigns .signLeftColumn img {
    width: 50%;
}
.lazerSigns .signRightColumn {
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.lazerSigns .signRightColumn img {
    width: 100%;
}
.lazerSigns .signLeftColumn button {
    background-color: #FFFF00;
    background-image: -webkit-linear-gradient(top, #ffd403, #f89d17);
    border-color: #FFFF00;
    border-bottom: 1px solid #FFFF00;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.lazerSigns span {
    font-size: 14px;
    color: #fff;
}
.lazerSigns .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.animals {
    margin-top: 50px;
}
.animals .wrapper {
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.animals img {
    width: 50%;
}
.people {
    margin: 20px 0;
}
.people span {
    color: #fff;
    font-size: 16px;
}
footer {
    background-color: #000;
    padding: 50px 0;
}
footer .wrapper {
    align-items: center;
    justify-content: space-between;
}
footer .rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: #fff;
    text-align: center;
}
footer .siteLogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
    width: 25%;
}
footer .siteLogo img {
    width: 100%;
}
.black-arrow {
    position: fixed;
    left: 20px;
    bottom: 30px;
    opacity: 0.2;
    cursor: pointer;
}
.black-arrow img {
    max-width: 40px;
    max-height: 40px;
}
.black-arrow:hover {
    opacity: 1;
    transition: 0.3s;
}
.successPopup {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
}
.successPopupContent {
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 40px;
    border: 5px solid #e0e0e0;
    box-shadow: 0px 0px 20px #707070;
    position: relative;
}
.successPopupContent span {
    font-size: 16px;
    color: #00335e;
}
.successPopupContent span:nth-child(1) {
    font-weight: 700;
}
.successPopup .closeButton {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid #fff;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.successPopup .closeButton .closeLine {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 25%;
}
.successPopup .closeButton .closeLine:nth-child(1) {
    transform: rotate(45deg);
}
.successPopup .closeButton .closeLine:nth-child(2) {
    transform: rotate(135deg);
}
.showSuccessPopup {
    display: flex;
}
.errorMessage {
    display: none;
    text-align: center;
    color: red !important;
    font-size: 20px !important;
}
.showErrorMessage {
    display: block;
}
.item {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 0.5s linear;
    z-index: 5;
}